{% extends 'base.html' %}

{% block title %}
    Обо мне
{% endblock %}

{% block content %}
<h1>Обо мне</h1>
    <p>Меня зовут Елена. Я преподаватель русского языка как иностранного. Я обучаю иностранцев русскому языку. В университете мы работаем с людьми из разных стран.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="../static/image/foto_3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Ла-Манш</h5>
                    <p class="card-text">Вечер в Истборне на Ла-Манше.Вечеринка на пирсе.</p>
                    <a href="https://ru.wikipedia.org/wiki/Ла-Манш" class="btn btn-primary">{{link}}</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="../static/image/foto_2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Рома</h5>
                    <p class="card-text">Посетили казино. Поиграли в автоматы, выиграли какую-то фигню типа жвачки для рук. Было весело.</p>
                    <a href="https://www.efl-study.ru/blog/detail/chem-zanyatsya-v-istborne/" class="btn btn-primary">{{link}}</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="../static/image/foto_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Вечерняя я</h5>
                    <p class="card-text">Пройдено 27 км. Сожжено 1000 ккал, съеден стейк и выпита какой-то непонятный коктейль. Ночевали под звуки бара по соседству и смех чаек.</p>
                    <a href="https://ru.wikipedia.org/wiki/Чайковые" class="btn btn-primary">{{link}}</a>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}